<!DOCTYPE html>

<html>

<head>

<title>Behind The Scenes</title>
  
<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
body {
  	height: 100vh;
	background-color: #e7eff9;
	background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
  }


#left {
  height:100%;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;

}

#right {
  height:100%;
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}
</style>

</head>

<body>
  
  
<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="https://github.com/willacya">
    <img src="/static/img/nav_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Behind The Scenes
  </a>
  <form class="form-inline" method="POST">
    <input class="form-control mr-sm-2" type="search" placeholder="Enter Name" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="row m-3">
<div class="col-12" id="left">

  
  <h1>Name Not Found :( </h1>
  

</div>
  <div>
  

</body>





</html>